.statistics {
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: grey;
}

.title {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.stat-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.item-one {
    width: 60px;
    background-color: brown;
    color: white;
}

.item-two {
    width: 60px;
    background-color: green;
    color: white;
}

.item-three {
    width: 60px;
    background-color: rgb(163, 165, 42);
    color: white;
}

.item-four {
    width: 60px;
    background-color: rgb(85, 42, 165);
    color: white;
}

.item-five {
    width: 60px;
    background-color: rgb(42, 147, 165);
    color: white;
}