@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile {
  text-align: center;
  background-color: grey;
}
.description {
  width: 300px;
  height: 200px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}
.avatar {
  border-radius: 100%;
  background-color: gray;
}
.name {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
}
.tag {
  font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}
.location {
  font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}
.stats {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin: 0;
}
.stats-list {
width: 100px;
height: 50px;
background-color: aqua;
border: 0px solid rgba(0, 0, 0, 0.1);

}
.label {
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}
.quantity {
  font-weight: 700;
  margin: 0;
}


/* ========Stats========== */

.statistics {
  width: 300px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: grey;
}
.title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.stat-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.item-one {
  width: 60px;
  background-color: brown;
  color: white;
}
.item-two {
  width: 60px;
  background-color: green;
  color: white;
}
.item-three {
  width: 60px;
  background-color: rgb(163, 165, 42);
  color: white;
}
.item-four {
  width: 60px;
  background-color: rgb(85, 42, 165);
  color: white;
}
.item-five {
  width: 60px;
  background-color: rgb(42, 147, 165);
  color: white;
}


/* ===============Friend================ */

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: #f0f0f0;
}

.friend-list {
  list-style: none;
  padding: 0;
}

.friends-item {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1)
}

.status {
 display: flex;
  border-radius: 50%;
  margin-right: 8px;
  align-items: center;
}

.status-circle {
  width: 10px;
  height: 10px;
 
  border-radius: 50%;
  margin-right: 8px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  border-radius: 50%;
  margin-right: 16px;
}

.name {
  margin: 0;
}

/* ==============Transaction================= */

.transaction-section {
  padding: 20px;
  background-color: #f0f0f0;
}

.transaction-history {
  width: 300px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.transaction-history th,
.transaction-history td {
  border: 1px solid #2b0a61;
  padding: 8px;
  text-align: left;
}

.transaction-history th {
  background-color: #7c75e2;
}

